---
import Layout from '../../Layout.astro'
import { client } from '../../../tina/__generated__/client'
import { TinaMarkdown } from "tinacms/dist/rich-text"

const { data } = await client.queries.poemsConnection({ 
  sort: 'pubDate',
  last: 100,
  filter: { draft: { eq: false } }
})

const poems = data.poemsConnection.edges?.map(edge => ({ ...edge.node, slug: edge.node._sys.filename }));
---
<Layout>
    <ul class="py-[16px] grid grid-cols-1 lg:grid-cols-2 gap-[1.6rem]">
    {poems.map(poem => {
      let formattedDate = new Date(poem.pubDate).toDateString()
      if (poem.title) {
        return (
          <li class="p-[32px] lg:p-[64px] bg-white border-gray-200 border flex flex-col">
            <h2 class="text-[36px] lg:text-[72px] leading-[96%] mb-[2rem]">{poem.title}</h2>
            <TinaMarkdown content={poem.body} />
            <div class="mt-auto text-gray-500 pt-[1.6rem]">
              <div class="flex justify-between border-gray-400 mt-[1.6] pt-[1.2rem] border-t">
                <div class="">{formattedDate}</div>

              
                <div class="copyLink cursor-pointer center" data-slug={poem.slug}>Copy URL</div>
              </div>
            </div>
          </li>
        )
      }
    })}
    </ul>

    <script>
      document.querySelectorAll('.copyLink').forEach(button => {
        button.addEventListener('click', () => {
          navigator.clipboard.writeText(`https://www.serotoninbaygazette.com/poems/${button.dataset.slug}`)
          button.innerHTML = 'Copied';
        })
      })
    </script>
</Layout>