---
function formatToday() {
  const today = new Date();

  const dayName = new Intl.DateTimeFormat('en-GB', { weekday: 'short' }).format(today);
  const monthName = new Intl.DateTimeFormat('en-GB', { month: 'long' }).format(today);
  const day = today.getDate();
  const year = today.getFullYear();

  function getOrdinal(n) {
    if (n > 3 && n < 21) return 'th';
    switch (n % 10) {
      case 1: return 'st';
      case 2: return 'nd';
      case 3: return 'rd';
      default: return 'th';
    }
  }

  return `${dayName} ${day}${getOrdinal(day)} ${monthName} ${year}`;
}

const dateStr = formatToday()
---
<header class="pb-[0] lg:pb-[32px]">
    <a href="/">
      <img class="w-full max-w-[640px] mx-auto mt-[64px] lg:mt-[80px] mb-[32px]" src="/logo-no-line.png" />
    </a>
    <div class="flex justify-between px-[16px] py-[8px] border-b-4">
        <div class="flex-1 hidden lg:block">{dateStr}</div>
        <div class="flex-1">
          <ul class="flex gap-[16px] justify-between lg:justify-center">
            <li><a href="/">Latest</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/poems">Verse</a></li>
          </ul>
        </div>
        <div class="italic flex-1 text-right hidden lg:block">It's low tide...</div>
    </div>
</header>